.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background-color: rgb(113, 131, 163);
}

table {
  border-collapse: collapse;
  width: 60%;
  margin: auto;
  background-color: whitesmoke;
}

 th, tr, td {
  text-align: center;
  padding: 0.3rem;
}

th {
  background-color: rgb(72, 185, 72);
  color: white;
}

tr:nth-child(even) {
  background-color: lightgray;
}
